# Environment files
.env
.env.local
.env.production
.env.staging

# Terraform
.terraform
.terraform.lock.hcl
crash.log
terraform.tfvars
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraformrc
terraform.rc
**/.terraform/*
*.tfstate
*.tfstate.*
*.tfstate.*backup
.terraform.lock.hcl

# Python app
generated_images
*_response_to_criteria.md
__pycache__
.venv

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

frontend/node_modules
frontend/dist
frontend/dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
